In [40]:
import pandas as pd
import numpy as np
content = {
    "": ["Customer 1", "Customer 2", "Customer 3", "Customer 4", "Customer 5", "Customer 6"],
    "Product A": [0, 0, 0, 1, 1, 0],
    "Product B": [0, 0, 1, 1, 1, 1],
    "Product C": [1, 0, 1, 0, 1, 1],
    "Product D": [1, 1, 1, 0, 0, 0],
    "Product E": [1, 1, 0, 0, 0, 0]
}
df1 = pd.DataFrame(content)
df1 = df1.set_index("")

In [41]:
customers = {
    "": ["C1", "C2", "C3", "C4", "C5", "C6"],
    "C1": ["" , 1, 2, 5, 4, 3],
    "C2": [1, "", 3, 4, 5, 4],
    "C3": [2, 3, "", 3, 2, 1],
    "C4": [5, 4, 3, "", 1, 2],
    "C5": [4, 5, 2, 1, "", 1],
    "C6": [3, 4, 1, 2, 1, 0]
}
df2 = pd.DataFrame(customers)
df2.set_index("")

   C1 C2 C3 C4 C5  C6

C1     1  2  5  4   3
C2  1     3  4  5   4
C3  2  3     3  2   1
C4  5  4  3     1   2
C5  4  5  2  1      1
C6  3  4  1  2  1   0

In [42]:
products = {
    "": ["A", "B", "C", "D", "E"],
    "A": ["", 2, 4, 5, 4],
    "B": [2, "", 2, 6, 6],
    "C": [4, 2, "", 3, 4],
    "D": [5, 5, 3, "", 1],
    "E": [4, 6, 4, 1, ""]
}
df3 = pd.DataFrame(products)
df3.set_index("")

   A  B  C  D  E

A     2  4  5  4
B  2     2  5  6
C  4  2     3  4
D  5  6  3     1
E  4  6  4  1

In [46]:
#Getting Manhattan Distance
from scipy.spatial import distance_matrix
df1
#Distance matrix is equal to the customers matrix
d = distance_matrix(df1, df1, p=1)

array([[0., 1., 2., 5., 4., 3.],
       [1., 0., 3., 4., 5., 4.],
       [2., 3., 0., 3., 2., 1.],
       [5., 4., 3., 0., 1., 2.],
       [4., 5., 2., 1., 0., 1.],
       [3., 4., 1., 2., 1., 0.]])